<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>jmatPorfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../image/funko.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../css/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Template Main CSS File -->
  <link href="../css/style2.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../image/funko.png" alt="" class="img-fluid rounded-circle">
        <h3 class="text-light"><a href="../index.html">José Manuel Alonso Tirado</a></h3>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/jmatisam" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://jmatisam.github.io/web/" class="cloud"><i class="bx bx-cloud"></i></a>
          <a href="https://www.linkedin.com/in/josé-manuel-alonso-tirado" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Introito</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Artículo</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Conclusión</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= intro Section ======= -->
    <section id="about" class="about"><!-- No cierro la sección para que haga el efecto de que al ir pasando esta en azul como si lo hubieras leido ya a manera de chek -->
        <div class="blog-article">
            <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary">
              <img src="../image/app_blured_face/Blurred Face.png" class="img-fluid" alt="blurred_faces"> 
            </div>
        </div>


    <div class="row g-5">
      <div class="col-md-8">

        <article class="blog-post">
          
            <h2 class="display-5 link-body-emphasis mb-1">Reconocimiento Facial</h2>
            <p class="blog-post-meta">16 Abril, 2024 by <a href="#">jmat</a></p>

            <p>En el mundo digital actual, la privacidad y la seguridad en línea son más importantes que nunca. Con el crecimiento exponencial de las redes sociales y 
                el intercambio de contenido visual, proteger la identidad de tus seres queridos se ha vuelto una preocupación primordial.</p>
            <hr>
            <p>Durante un ejercicio de clase, al emplear el servicio <b>Amazon Rekognition </b>para detectar caras en imágenes, surgió una fascinante idea: <b>¿qué sucedería si no pudiéramos contar con Amazon?
            ¿Y si pudiéramos utilizar este servicio para algo más allá del reconocimiento facial?</b> Así nació la idea de aprovechar esta capacidad de reconocimiento para facilitar la subida segura de imágenes a las redes sociales.</p>

            Al desafiarnos a buscar alternativas y ampliar nuestros horizontes más allá de las soluciones convencionales, exploramos la posibilidad de crear una plataforma que garantice la seguridad 
            y la privacidad al compartir imágenes en línea. Con este enfoque también reflexioné sobre cómo podemos utilizar la inteligencia artificial para abordar desafíos cotidianos de una manera creativa y efectiva. 
            </p>
            <!-- ======= Resume Section ======= -->
            <section id="resume" class="resume">
              <h4>Desmitificando las redes neuronales convolucionales: descubriendo los secretos de la visión artificial</h4>
            <div class="row">
              <div class="col-lg-4">
                <img src="../image/app_blured_face/blurred_faces.jpg" class="img-fluid" alt="blurred_faces">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <p class="fst-italic">
                  <hr>
                  1ª foto, realizada previamente con I.A., que la trato con la herramienta para difuminar caras
                  <hr>
                </p>
                <p>
                  ¿Alguna vez te has preguntado <b>cómo las máquinas 'ven' e interpretan el mundo</b> que las rodea? La respuesta está en el fascinante ámbito de <b>
                    redes neuronales convolucionales (CNN)</b>.  
                </p>
              </div>
            <div>
            <p>Explorar su papel crucial a la hora de dotar a las máquinas de inteligencia visual, vamos a desentrañar, paso a paso, los misterios de las <b>CNN</b>
            </p> 
              

              <h4><b><u> Reflejando el ojo humano: un enfoque jerárquico</u></b></h4>
            <p>
              Al igual que nuestro propio cerebro, las CNN procesan información visual a través de una serie de pasos jerárquicos. Comenzamos percibiendo elementos básicos como bordes y formas, 
              y poco a poco vamos reconociendo objetos y patrones complejos. Las CNN reflejan este proceso, comenzando con características simples y aprendiendo progresivamente representaciones 
              más complejas.
            </p>

            <div class="row">
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <br><h4><b><u>Convolución: el corazón de la visión de la máquina:</u></b></h4>
                <p>
                En el centro de las CNN se encuentra el concepto de 'convolución', una operación matemática que actúa como el ojo de la máquina. Imagine escanear una imagen con pequeños filtros que
              detectan características específicas, como bordes, texturas o variaciones de color.
                </p>
              </div>
              <div class="col-lg-4">
                <img src="../image/app_blured_face/codigo.png" class="img-fluid" alt="blurred_faces">
              </div>
              
            <div>
            <p>Al aplicar múltiples filtros, las CNN crean una comprensión integral del contenido de la imagen, 
              creando mapas de características que resaltan la presencia y ubicación de estas características.
            </p>

            <br><h4><b><u>¿Por qué esto es importante?: un mundo de posibilidades:</u></b></h4>

            <p> Las CNN han revolucionado el campo de la visión por computadora y han dado lugar a avances innovadores en diversas aplicaciones:

              <ul>
                <li>Clasificación de imágenes: identificación de objetos, escenas y rostros dentro de imágenes.</li>
                <li>Detección y localización de objetos: señalar la ubicación exacta de los objetos dentro de una imagen.</li>
                <li>Segmentación de imágenes: dividir una imagen en regiones semánticamente significativas.</li>
                <li>Análisis de Imágenes Médicas: Ayudando en el diagnóstico y planificación del tratamiento.</li>
                <li>Vehículos autónomos: Permitir que los vehículos autónomos perciban su entorno.</li>
              </ul>
              <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
                <img src="../image/app_blured_face/cnn71.jpg" class="img-fluid" alt="blurred_faces" style="padding-left: 120px">
              </div>
            </p> 
              
            <br><h4><b><u>Aprendizaje profundo: desbloquear el poder de la abstracción</u></b></h4>

            <p>La verdadera magia de las CNN reside en su profundidad. Al apilar múltiples capas convolucionales, la red aprende representaciones de la imagen cada vez más complejas y abstractas.
              Es como armar un rompecabezas, donde cada capa agrega otro nivel de detalle y, en última instancia, revela la imagen completa. Este proceso de aprendizaje jerárquico permite a 
              las CNN reconocer objetos y patrones complejos con una precisión notable.
            </p>
            <!-- ======= Conclusión Section ======= -->
            <section id="contact" class="contact">
            <h4><b><u></u>Pero vayamos al grano: ¿Qué es la aplicación Blur Faces?</u></b></h4>
            <p>
              ¿Alguna vez has sentido preocupación por la privacidad y seguridad de tus seres queridos al compartir fotos en redes sociales? Con la creciente preocupación sobre la privacidad en línea,
              es fundamental encontrar formas de proteger la identidad de las personas en las imágenes compartidas. Una solución efectiva es utilizar el reconocimiento facial para identificar y 
              difuminar automáticamente los rostros en las fotos antes de compartirlas en plataformas como Facebook, Instagram o Twitter.
            </p>
            <div class="row">
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <p>
                  La aplicación Blur Faces utiliza tecnología de reconocimiento facial para detectar automáticamente los rostros en las fotos y aplicar un efecto de difuminación para proteger la identidad
                  de las personas. Este enfoque garantiza que las fotos compartidas en línea no revelen la identidad de los sujetos, lo que proporciona una capa adicional de seguridad y privacidad en un 
                  mundo digital cada vez más interconectado.
                </p>
              </div>
              <div class="col-lg-4">
                <img src="../image/app_blured_face/cnn3.jpg" class="img-fluid" alt="blurred_faces">
              </div>    
            </div>
            <p>
              Además de proteger la privacidad de tus seres queridos, la difuminación de rostros también puede ser útil para proteger la identidad de otras personas en situaciones como eventos públicos,
              protestas o manifestaciones. Al difuminar automáticamente los rostros en las fotos, se puede preservar el anonimato de las personas que puedan no desear ser identificadas en línea, 
              contribuyendo así a un entorno en línea más seguro y respetuoso.
            </p>
          
            <div class="row">
              <div class="col-lg-4">
                <img src="../image/app_blured_face/cnn4.jpg" class="img-fluid" alt="blurred_faces">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content">
              Más allá de lo básico, te espera una inmersión más profunda y detallada en próximas entregas.<br> <br>¡El viaje no termina ahí! Prometo una serie de 
              episodios de seguimiento que profundizan en técnicas de optimización y brindan demostraciones prácticas, como el ir un paso más allá y hacer que solo difumine la cara de los menores. 
            </div>
            <br>
            <p>
              <br>Esta es su oportunidad de obtener una comprensión más profunda de las CNN y su implementación práctica.<br>
            </p>
            <hr>
            
            <div class="row">
              <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
                <img src="../image/app_blured_face/frase_1.png" class="img-fluid" alt="blurred_faces">
              </div>
            </div>  
            <p>Un saludo y hasta la próxima.</p><br>

            <nav class="blog-pagination" aria-label="Pagination">
              <a class="btn btn-outline-primary rounded-pill disabled" aria-disabled="true" style="margin-bottom: 16px" >Prev</a>
              <a class="btn btn-outline-secondary rounded-pill" style="margin-bottom: 16px;" href="../templates/t2t.html">Next</a>
              <br>
            </nav>
            <hr>
            <div class="col-lg-4">
              <img src="../image/obras.png" class="img-fluid" alt="blurred_faces">
            </div>
            <div class="col-md-4">
              <a href="../templates/contacto.html" target="_blank">"Proximamente I-"</a>.<br>
            </div>
        </article>
        
         
        
      </div>
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">"Mi pasión por la tecnología y el aprendizaje continuo me ha llevado a formarme en programación, inteligencia artificial y big data.</p>

            <hr>
            
            <h4 class="fst-italic">Recent posts</h4>
            <ul class="list-unstyled">
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/juego_tronos.html">
                        <img src="../image//Jmat_NEO_4j_mini.png" alt="Imagen de ejemplo" width="96" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Grafos & Juego Tronos. Seven Protagonists, Seven Gods</h6>
                            <small class="text-body-secondary">20 Abril, 2024</small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="http://127.0.0.1:5500/templates/t2t.html">
                        <img src="../image/App_T2T.jpg" alt="Imagen del artículo Text2Talk" width="96" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Text2Talk, con Amazon Polly.</h6>
                            <small class="text-body-secondary">17 Abril, 2024 </small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/pizza_party.html">
                        <img src="../image/rob_e.png" alt="Otra imagen de ejemplo" width="96" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Pizza Party. Mi primer Chat-Bot con ChatGPT</h6>
                            <small class="text-body-secondary">21 Abril, 2024</small>
                        </div>
                    </a>
                </li>
            </ul>            
          </div>
        </div>
    </div>

  </main>

 <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright:<strong><span>jmat Portfolio</span></strong>
      </div>
      <br>
      <div class="credits">
        Thanks to <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
        &copy; Copyright:<a><strong> iPortfolio</strong></a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



  <!-- Template Main JS File -->
  <script src="../js/paginas.js"></script>
  <script src="../js/app.js"></script>

  

</body>
</html>