<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>jmatPorfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../image/funko.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../css/boxicons/css/boxicons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css\style2.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../image/funko.png" alt="" class="img-fluid rounded-circle">
        <h3 class="text-light"><a href="../index.html">José Manuel Alonso Tirado</a></h3>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/jmatisam" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://jmatisam.github.io/web/" class="cloud"><i class="bx bx-cloud"></i></a>
          <a href="https://www.linkedin.com/in/josé-manuel-alonso-tirado" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Introito</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Artículo</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Conclusión</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= intro Section ======= -->
    <section id="about" class="about"></section>
      <div class="blog-article">
          <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary">
            <img src="../image/j_of_t/j_of_t.png" class="img-fluid" alt="t2t"> 
          </div>
      </div>


    <div class="row g-5">
      <div class="col-md-8">

        <article class="blog-post">
          
            <h2 class="display-5 link-body-emphasis mb-1">Neo4j, Base de Datos orientada a Grafos: Optimización y Rendimiento</h2>
            <p class="blog-post-meta">20 Abril, 2024 by <a href="#">jmat</a></p>

            <p>Un ejercicio de Big Data y bases de datos orientadas a grafos me llevó a una actividad muy divertida al descubrir, por casualidad, la página de Andrew Beveridge
                <a href="https://networkofthrones.wordpress.com" target="_blank">"Seven Protagonists, Seven Gods"</a>.<br>
                <br> En ella, Beveridge, utiliza los Siete Reinos como un marco para realizar un trabajo maravilloso en el análisis de redes. Como bien nos indica su extenso
                 trabajo, estamos inevitablemente interconectados:
                <hr>
                <em>"Vivimos en un mundo altamente interconectado, en muchas escalas diferentes. Las conexiones son de lo que se tratan las redes: dos nodos están unidos por un borde cuando 
                están relacionados de una manera específica. Estamos atados a nuestros amigos. Las ciudades están conectadas por carreteras y rutas aéreas. La flora y la fauna están unidas 
                en una red alimentaria. Los países participan en relaciones comerciales. Pero no todas las redes son físicas: la World Wide Web es una red virtual de información."</em>
            </p>
            <hr>
            <!-- ======= Resume Section ======= -->
            <section id="resume" class="resume">
              <h4><b>¿Qué es NEO 4j?</b></h4>
            <div class="row">
              <div class="col-lg-4">
                <img src="../image/j_of_t/codigo_jot.png" class="img-fluid" alt="blurred_faces">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <p class="fst-italic">
                  <hr>
                  Código que calcula la Centralidad de grado (evalua la importancia de un nodo en función de la cantidad de conexiones que tiene).
                  <hr>
                </p>
              </div>
            <div>
            <p>Con una base de datos de gráficos nativa en el núcleo, Neo4j almacena y administra datos en un estado natural y conectado. La base de datos de gráficos adopta un 
                enfoque de gráfico de propiedades, lo que resulta beneficioso tanto para el rendimiento transversal como para el tiempo de ejecución de las operaciones.
            </p> 
            <p>
                Las bases de datos de grafos ofrecen una forma poderosa y eficiente de modelar y consultar datos que están altamente conectados,
                lo que las convierte en una opción atractiva para una amplia gama de aplicaciones y casos de uso.
            </p>

            <div class="row">
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <br><h4><b><u>Bases de datos de grafos: ventajas</u></b></h4>
                <p>Las bases de datos de grafos ofrecen una serie de ventajas sobre otros modelos de bases de datos, especialmente en situaciones donde la relación y la conexión entre los datos son fundamentales. Algunas de las ventajas más destacadas son:
                </p>
                
            </div>
              <div class="col-lg-4">
                <img src="../image/j_of_t/neo_4.png" class="img-fluid" alt="blurred_faces">
              </div>
                <div class="col-lg-12 pt-4 pt-lg-0 content">
                    <ul>                   
                        <li><b>Consultas de relaciones:</b> Las consultas que implican relaciones complejas entre entidades son más eficientes en bases de datos de grafos, ya que están diseñadas específicamente
                        para manejar este tipo de consultas. Esto significa tiempos de respuesta más rápidos y mejor rendimiento en aplicaciones que dependen de consultas relacionales.</li><br> 
                        <li><b>Flexibilidad en el esquema:</b>A diferencia de las bases de datos relacionales que requieren un esquema fijo, las bases de datos de grafos son flexibles y pueden adaptarse
                        fácilmente a cambios en la estructura de los datos. Esto las hace ideales para aplicaciones donde la estructura de los datos es fluida o no está completamente definida 
                        desde el principio.</li><br>                    
                        <li><b>Profundidad en análisis de relaciones:</b> Las bases de datos de grafos son ideales para análisis de redes y relaciones, ya que pueden representar y analizar conexiones 
                        complejas entre entidades. Esto es especialmente útil en aplicaciones como redes sociales, recomendaciones personalizadas y análisis de redes.</li><br>   
                        <li><b>Escalabilidad:</b> Las bases de datos de grafos pueden escalar horizontalmente para manejar conjuntos de datos masivos y consultas complejas. 
                        Esto las hace adecuadas para aplicaciones que requieren escalabilidad y rendimiento a gran escala.</li>
                     </ul>
                </div>
              
            <div>           

            </p>
            <!-- ======= Conclusión Section ======= -->
            <section id="contact" class="contact">
            <h4><b><u></u>Pero vayamos al grano: ¿Qué se puede hacer con NEO 4j?</u></b></h4>
            <p>
              Si nos atenemos los Siete Reinos sirve para cosas tan útiles como detectar quienes son los cinco personajes más relevantes de la saga (con las medidas de centralidad de grado, 
              cercanía e intermediación).<br>
              <br>También vale para calcular los valores de posibilidad de que se produzca un nuevo contacto entre Arya-Stark y Daenerys-Targaryen o entre Asha-Greyjoy y Jon-Snow. 
              (mediante todos los métodos de predicción de enlace vistos)
            </p>
            <p>Estas predicciones son útiles no solo en la saga de Juego de Tronos, sino también en la vida diaria, donde pueden aplicarse en redes sociales, como encontrar a tus posibles cinco mejores parejas;),
                en marketing, análisis de mercado y otras áreas donde se requiera predecir conexiones entre entidades, con labores tan importantes como:
                <ol>
                <li>Segmentación de cliente, utilizando datos históricos de interacciones entre cliente</li>
                    <li>Recomendaciones de productos, al analizar el comportamiento de compra pasado de los clientes</li>
                    <li>Análisis de redes sociales: En las plataformas de redes sociales, las predicciones de enlace pueden ayudar a identificar conexiones potenciales 
                        entre usuarios con intereses similares o comportamientos de compra </li>
                    <li>Optimización de alianzas comerciales: Las predicciones de enlace pueden ayudar a identificar socios comerciales potenciales con los que una empresa 
                        podría establecer colaboraciones estratégicas.</li> 
                </ol>
            </p>
            <p>
            En nuestro caso de estudio, nos encontramos con un descubrimiento fascinante: las relaciones de Tyrion Lannister y Ned Stark con todos los demás personajes. Como se puede observar 
            en la imagen, este resultado es sumamente revelador y proporciona una gran cantidad de información sobre las interacciones entre los personajes.
            <br><p>A partir de esta visualización, podemos analizar en profundidad las conexiones entre ellos y tomar decisiones fundamentadas con estos datos.
                Extrapolando este análisis al ámbito empresarial, podemos intuir fácilmente el potencial de esta herramienta.</p>
            
            </p>   
            <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
              <img src="../image/j_of_t/j_of_t_2.png" class="img-fluid" alt="blurred_faces" style="padding-left: 5px">
            </div>

            <p>Un saludo y hasta la próxima.</p><br>

            <nav class="blog-pagination" aria-label="Pagination">
              <a class="btn btn-outline-secondary rounded-pill" href="../templates/t2t.html" >Prev</a>
              <a class="btn btn-outline-secondary rounded-pill" href="../templates/pizza_party.html">Next</a>
            </nav>
            <hr>
        </article>
      </div>

        <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">"Mi pasión por la tecnología y el aprendizaje continuo me ha llevado a formarme en programación, inteligencia artificial y big data.</p>

            <hr>
            
            <h4 class="fst-italic">Recent posts</h4>
            <ul class="list-unstyled">
              <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/blurred_face.html">
                      <img src="../image/app_blured_face/blurred_faces.jpg" alt="Imagen de ejemplo" width="96" height="96">
                      <div class="col-lg-8">
                          <h6 class="mb-0">Blured Face, reconocimiento facial</h6>
                          <small class="text-body-secondary">16 Abril, 2024</small>
                      </div>
                  </a>
              </li>
              <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="http://127.0.0.1:5500/templates/t2t.html">
                      <img src="../image/App_T2T.jpg" alt="Imagen del artículo Text2Talk" width="96" height="96">
                      <div class="col-lg-8">
                          <h6 class="mb-0">Text2Talk, con Amazon Polly.</h6>
                          <small class="text-body-secondary">17 Abril, 2024 </small>
                      </div>
                  </a>
              </li>
              <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/pizza_party.html">
                      <img src="../image/rob_e.png" alt="Otra imagen de ejemplo" width="96" height="96">
                      <div class="col-lg-8">
                          <h6 class="mb-0">Pizza Party, mi primer Chat Bot</h6>
                          <small class="text-body-secondary">21 Abril, 2024</small>
                      </div>
                  </a>
              </li>
            </ul>  
            </div>
        </div>
    </div>

  </main>

 <!-- ======= Footer ======= -->
  <footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright:<strong><span>jmat Portfolio</span></strong>
    </div>
    <br>
    <div class="credits">
      Thanks to <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
      &copy; Copyright:<a><strong> iPortfolio</strong></a>
    </div>
  </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../js/bootstrap.bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/app.js"></script>

</body>
</html>