<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>jmatPorfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../image/funko.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../css/boxicons/css/boxicons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css\style2.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../image/funko.png" alt="" class="img-fluid rounded-circle">
        <h3 class="text-light"><a href="../index.html">José Manuel Alonso Tirado</a></h3>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/jmatisam" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://jmatisam.github.io/web/" class="cloud"><i class="bx bx-cloud"></i></a>
          <a href="https://www.linkedin.com/in/josé-manuel-alonso-tirado" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Introito</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Artículo</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Conclusión</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= intro Section ======= -->
    <section id="about" class="about"></section>
      <div class="blog-article">
          <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary">
            <img src="../image/pizza_party/pizza_party.png" class="img-fluid" alt="t2t"> 
          </div>
      </div>


    <div class="row g-5">
      <div class="col-md-8">

        <article class="blog-post">
          
            <h2 class="display-5 link-body-emphasis mb-1">Pizza Party, Bot & ChatGPT</h2>
            <p class="blog-post-meta">21 Abril, 2024 by <a href="#">jmat</a></p>

            <p>
              El ejercicio consistia en una aplicación web en python (usando el framework flask) que simule adecuadamente la recogida del pedido en la web de una Pizzería. Para ello decidimos crear un Chat Bot 
              usando la API de Chat GPT, en concreto la versión a la 1.12, la mas actual en el momento de realizar dicho ejercicio y así poder interactuar con un posible cliente que
              realizara un pedido a la pizzería.
            </p>
            <hr>
            <!-- ======= Resume Section ======= -->
            <section id="resume" class="resume">
              <h4><b>¿Qué es un Chat Bot?</b></h4>
            <div class="row">
              <div class="col-lg-4">
                <img src="../image/rob_e.png" class="img-fluid" alt="blurred_faces">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <p class="fst-italic">
                  <hr>
                 Imagen rob-e el asistente virtual para tu plena satisfacción
                  <hr>
                </p>
              </div>
            <div>
            <p>Un Chat Bot, también conocido como bot conversacional o agente de chat, es un programa informático diseñado para simular una conversación con usuarios humanos a través de 
              interfaces de chat, ya sea en sitios web, aplicaciones móviles o plataformas de mensajería como Facebook Messenger o WhatsApp.
            </p> 
            <p>
              Estos bots pueden ser programados para realizar una variedad de tareas, como responder preguntas frecuentes, proporcionar información sobre productos o servicios, ayudar en la 
              navegación de un sitio web, realizar reservas, brindar asistencia al cliente y mucho más. Utilizan inteligencia artificial y procesamiento del lenguaje natural para comprender y 
              responder a los mensajes de los usuarios de manera coherente y contextual.
            </p>

            <div class="row">
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <br><h4><b><u>Chats Bots: ventajas</u></b></h4>
                <p>
                  Los Chat Bots son una herramienta cada vez más popular en diversos sectores, ya que pueden mejorar la experiencia del usuario, automatizar tareas repetitivas y proporcionar un 
                  servicio al cliente eficiente y disponible las 24 horas del día.
                </p>
                
            </div>
              <div class="col-lg-4">
                <img src="../image/jmat_App_Portal Pizza Party.jpg" class="img-fluid" alt="pizza_party">
              </div>
                <div class="col-lg-12 pt-4 pt-lg-0 content">
                  <ul>
                    <li>Aumento de la disponibilidad del servicio al cliente las 24 horas del día, los 7 días de la semana.</li>
                    <li>Automatización de tareas repetitivas, lo que permite ahorrar tiempo y recursos.</li>
                    <li>Capacidad para manejar múltiples consultas de usuarios simultáneamente sin necesidad de intervención humana.</li>
                    <li>Mejora de la experiencia del usuario al proporcionar respuestas rápidas y precisas.</li>
                    <li>Reducción de costos operativos al reducir la necesidad de personal dedicado al servicio al cliente.</li>
                    <li>Personalización de las interacciones según las preferencias y necesidades de cada usuario.</li>
                    <li>Recopilación de datos y análisis de conversaciones para obtener información valiosa sobre las necesidades y comportamientos de los usuarios.</li>
                </ul>
                
                </div>
              
            <div>           

            </p>
            <!-- ======= Conclusión Section ======= -->
            <section id="contact" class="contact">
            <h4><b><u></u>Pero vayamos al grano: ¿Como hacer un Chat Bot con chatGPT?</u></b></h4>
            <p>Los Chat Bots son una herramienta cada vez más popular en diversas aplicaciones, desde el servicio al cliente hasta el entretenimiento. Con ChatGPT,
              puedes crear un Chat Bot inteligente capaz de mantener conversaciones fluidas y relevantes con los usuarios.</p>

            <h4>Pasos para crear un Chat Bot con ChatGPT:</h4>
            <ol>
              <li>Regístrate en la plataforma de OpenAI y accede a la API de ChatGPT.</li>
              <li>Obtén tus credenciales de autenticación para poder utilizar la API.</li>
              <li>Desarrolla o selecciona un entorno de programación compatible con las solicitudes HTTP, como Python o JavaScript.</li>
              <li>Utiliza las credenciales de autenticación para enviar solicitudes a la API de ChatGPT y recibir respuestas generadas por el modelo.</li>
              <li>Implementa la lógica necesaria para procesar las respuestas del modelo y presentarlas al usuario a través de la interfaz de tu Chat Bot.</li>
              <li>Desarrolla el código para poner en práctica la logica( en mi caso Python con el servidor Flask).</li>
              <li>Prueba y ajusta tu Chat Bot para mejorar su desempeño y personalización.</li>
          </ol>
          <p>   
            Los pasos 6 y 7 son los mas complejos, aunque el propio chatGPT te puede ayudar con el código, al final dependera del 5º paso y de lo buena que sea la lógica, 
            pues en un chat es importante la ventana de contexto para el que el bot no se pierda a mitad de la conversación.<br>
          </p>
          <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
            <img src="../image/pizza_party/pizza_party_codigo.png" class="img-fluid" alt="blurred_faces" style="padding-left: 5px">
          </div>
          <p>   
            Los Chat Bots son una herramienta poderosa para la interacción con los usuarios en una variedad de contextos. Con la API de ChatGPT, puedes desarrollar fácilmente Chat Bots inteligentes
            y conversacionales que mejoren la experiencia del usuario y automatizan tareas repetitivas. Aquí os dejo el resultado de mi pedido de dos pizza peperoni ;)
          </p>
            
            <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
              <img src="../image/pizza_party/ejemplo_pedido.jpeg" class="img-fluid" alt="blurred_faces" style="padding-left: 5px">
            </div>

            <p>¡Anímate a crear tu propio Chat Bot con ChatGPT y lleva tus aplicaciones al siguiente nivel! Un saludo y hasta la próxima.</p><br>

            <nav class="blog-pagination" aria-label="Pagination">
              <a class="btn btn-outline-secondary rounded-pill" href="../templates/juego_tronos.html" >Prev</a>
              <a class="btn btn-outline-secondary rounded-pill" href="../templates/pront_ing.html">Next</a>
            </nav>
            <hr>
        </article>
      </div>

        <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">"Mi pasión por la tecnología y el aprendizaje continuo me ha llevado a formarme en programación, inteligencia artificial y big data.</p>

            <hr>
            
            <h4 class="fst-italic">Recent posts</h4>
            <ul class="list-unstyled">
              <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/virus_protec.html">
                      <img src="../image/jmat_App_Portal_Virus_Protec_mini.png" alt="Imagen de ejemplo" width="96" height="96">
                      <div class="col-lg-8">
                          <h6 class="mb-0">Virus Protec, Analisis de Direcciones WEB maliciosas</h6>
                          <small class="text-body-secondary">22 Abril, 2024 </small>
                      </div>
                  </a>
              </li>
              <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/t2t.html">
                      <img src="../image/App_T2T.jpg" alt="Imagen del artículo Text2Talk" width="96" height="96">
                      <div class="col-lg-8">
                          <h6 class="mb-0">Text2Talk, con Amazon Polly.</h6>
                          <small class="text-body-secondary">17 Abril, 2024 </small>
                      </div>
                  </a>
              </li>
              <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/pront_ing.html">
                      <img src="../image/pront.jpg" alt="Otra imagen de ejemplo" width="96" height="96">
                      <div class="col-lg-8">
                          <h6 class="mb-0">Pront Engineering</h6>
                          <small class="text-body-secondary">21 Abril, 2024 </small>
                      </div>
                  </a>
              </li>
            </ul>  
            </div>
        </div>
    </div>

  </main>

 <!-- ======= Footer ======= -->
  <footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright:<strong><span>jmat Portfolio</span></strong>
    </div>
    <br>
    <div class="credits">
      Thanks to <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
      &copy; Copyright:<a><strong> iPortfolio</strong></a>
    </div>
  </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../js/bootstrap.bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/app.js"></script>

</body>
</html>