<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>jmatPorfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../image/funko.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../css/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="../css/style2.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../image/funko.png" alt="" class="img-fluid rounded-circle">
        <h3 class="text-light"><a href="../index.html">José Manuel Alonso Tirado</a></h3>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/jmatisam" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://jmatisam.github.io/web/" class="cloud"><i class="bx bx-cloud"></i></a>
          <a href="https://www.linkedin.com/in/josé-manuel-alonso-tirado" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Introito</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Artículo</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Conclusión</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= intro Section ======= -->
    <section id="about" class="about"></section>
        <div class="blog-article">
            <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary">
              <img src="../image/pront_ing/dalle.png" class="img-fluid" alt="blurred_faces"> 
            </div>
        </div>


    <div class="row g-5">
      <div class="col-md-8">

        <article class="blog-post">
          
            <h2 class="display-5 link-body-emphasis mb-1">Pront Engineering</h2>
            <p class="blog-post-meta">21 Abril, 2024 by <a href="#">jmat</a></p>

            <p>El ejercicio consistía en crear cinco prompts en inglés relativos a imágenes. Por cada prompt, debíamos generar una imagen en cada uno de los dos modelos,
                 DALL-E 3 (utilizamos Bing) y para <a href="https://huggingface.co/spaces/ByteDance/SDXL-Lightning">SDXL haz clic aquí</a>.</p>
            <p>A continuación, teníamos que ponerles una nota del 0 al 10 a cada imagen y comentar el porqué de dicha nota (por ejemplo, no ha generado bien las manos,
                 ha duplicado la cabeza...). Por último, hacer la media de las notas de cada modelo e indicar el ganador.</p>
            <p>En resumen, fue un buen ejercicio para poner en práctica la teoría sobre generación de prompts.</p>

            <hr>
            <p>En general, observo que las imágenes generadas por DALL-E 3 tienen calificaciones ligeramente más altas que las de SDXL en los distintos prompts. 
                Ambos modelos tienen sus puntos fuertes y áreas de mejora, pero parece que DALL-E 3 logra capturar mejor la esencia de las escenas solicitadas.</p>
            
            <section id="resume" class="resume">
            <p>Este fue el resultado:</p>  
            <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
                <img src="../image/pront_ing/4.png" class="img-fluid" alt="blurred_faces" style="padding-left: center">
              </div> 
              <hr>
              <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
                <img src="../image/pront_ing/5.png" class="img-fluid" alt="blurred_faces" style="padding-left: center">
              </div> 
              <hr>
              <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
                <img src="../image/pront_ing/6.png" class="img-fluid" alt="blurred_faces" style="padding-left: center">
              </div> 
              <hr>
              <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
                <img src="../image/pront_ing/7.png" class="img-fluid" alt="blurred_faces" style="padding-left: center">
              </div> 
              <hr>
              <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
                <img src="../image/pront_ing/8.png" class="img-fluid" alt="blurred_faces" style="padding-left: center">
              </div> 
              <hr>
              <section id="contact" class="contact">
              <p>En particular, se destacan la calidad de la atmósfera y la iluminación en las imágenes de DALL-E 3. En ambas plataformas la 
                representación de ciertos detalles como las manos o la apariencia de los personajes no está bien conseguida.
                Por lo tanto, con base en estas valoraciones, consideraría a DALL-E 3 como el modelo ganador en términos de calidad percibida.</p>
            <p>En conclusión, es un tema apasionante y el análisis era solo una introducción al mundo del Prompt Engineering, entre otros ejercicios. 
                Además, todo avanza no solo día a día, sino segundo a segundo, y es seguro que cuando estés leyendo esto, estos modelos ya estarán desfasados.</p>
                <p>Un saludo y hasta la próxima.</p><br>

                <nav class="blog-pagination" aria-label="Pagination">
                  <a class="btn btn-outline-secondary rounded-pill" href="../templates/pizza_party.html" >Prev</a>
                  <a class="btn btn-outline-secondary rounded-pill" href="../templates/virus_protec.html">Next</a>
                </nav>
                <hr>
        </articule> 
    </div>     
         <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="fst-italic">About</h4>
                <p class="mb-0">"Mi pasión por la tecnología y el aprendizaje continuo me ha llevado a formarme en programación, inteligencia artificial y big data.</p>

                <hr>
                
                <h4 class="fst-italic">Recent posts</h4>
                <ul class="list-unstyled">
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/blurred_face.html">
                        <img src="../image/Jmat_NEO_4j_mini.png" alt="Imagen de ejemplo" width="96" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Blured Face, reconocimiento facial</h6>
                            <small class="text-body-secondary">16 Abril, 2024</small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/virus_protec.html">
                        <img src="../image/jmat_App_Portal_Virus_Protec_mini.png" alt="Imagen del artículo Text2Talk" width="96" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Virus Protec, Analisis de Direcciones WEB maliciosas</h6>
                            <small class="text-body-secondary">22 Abril, 2024 </small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/pizza_party.html">
                        <img src="../image/rob_e.png" alt="Otra imagen de ejemplo" width="96" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Pizza Party, mi primer Chat Bot</h6>
                            <small class="text-body-secondary">21 Abril, 2024</small>
                        </div>
                    </a>
                </li>
                </ul>  
                </div>
            </div>
        </div>

    </main>

<!-- ======= Footer ======= -->
<footer id="footer">
<div class="container">
<div class="copyright">
  &copy; Copyright:<strong><span>jmat Portfolio</span></strong>
</div>
<br>
<div class="credits">
  Thanks to <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
  &copy; Copyright:<a><strong> iPortfolio</strong></a>
</div>
</div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- Template Main JS File -->
<script src="../js/app.js"></script>




</body>
</html>