<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>jmatPorfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../image/funko.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../css/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="../css\style2.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../image/funko.png" alt="" class="img-fluid rounded-circle">
        <h3 class="text-light"><a href="../index.html">José Manuel Alonso Tirado</a></h3>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/jmatisam" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://jmatisam.github.io/web/" class="cloud"><i class="bx bx-cloud"></i></a>
          <a href="https://www.linkedin.com/in/josé-manuel-alonso-tirado" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Introito</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Artículo</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Conclusión</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= intro Section ======= -->
    <section id="about" class="about"> <!-- No cierro la sección para que haga el efecto de que al ir pasando esta en azul como si lo hubieras leido ya a manera de chek -->
      <div class="blog-article">
          <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary">
            <img src="../image/t2t/t2t.png" class="img-fluid" alt="t2t"> 
          </div>
      </div>


    <div class="row g-5">
      <div class="col-md-8">

        <article class="blog-post">
          
            <h2 class="display-5 link-body-emphasis mb-1">Amazon Polly: La Revolución de la Voz Digital</h2>
            <p class="blog-post-meta">17 Abril, 2024 by <a href="#">jmat</a></p>

            <p>En el vertiginoso mundo digital de hoy, la voz se ha convertido en una herramienta poderosa para la comunicación y la interacción humana. Desde la narración de historias hasta la asistencia virtual, la voz desempeña un papel fundamental en la forma en que interactuamos con la tecnología. 
              Es en este contexto donde Amazon Polly emerge como una innovación revolucionaria que está transformando la experiencia auditiva en línea.</p>
            <hr>
            <!-- ======= Resume Section ======= -->
            <section id="resume" class="resume">
              <h4><b>¿Qué es Amazon Polly?</b></h4>
            <div class="row">
              <div class="col-lg-4">
                <img src="../image/App_T2T.jpg" class="img-fluid" alt="blurred_faces">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <p class="fst-italic">
                  <hr>
                  Foto, realizada previamente con I.A. con parte del código que realiza la conversión.
                  <hr>
                </p>
              </div>
            <div>
            <p>Amazon Polly es un servicio de síntesis de voz desarrollado por Amazon Web Services (AWS) que permite convertir texto en habla realista 
              en tiempo real. Utilizando tecnologías de vanguardia en el campo del procesamiento del lenguaje natural (NLP) y el aprendizaje automático (ML), 
              Polly es capaz de generar voces humanas altamente naturales y expresivas en más de 30 idiomas y variantes regionales.</b>
            </p> 
              

              <h4><b><u> La Tecnología detrás de la Magia</u></b></h4>
            <p>
              Lo que distingue a Amazon Polly es su capacidad para recrear la expresión y el tono de la voz humana de una manera sorprendentemente auténtica. Esto se logra mediante 
              el uso de modelos de aprendizaje profundo que analizan y capturan las sutilezas del habla humana, como el énfasis, la entonación y el ritmo.
            </p>

            <div class="row">
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <br><h4><b><u>Aplicaciones Prácticas</u></b></h4>
                <ul>
                  <li>Aplicaciones de accesibilidad para personas invidentes</li>
                  <li>Creación de audiolibros y pódcasts</li>
                  <li>Generación de contenido para asistentes de voz</li>
                  <li>Generación de audio para Chats-Bots</li>
                </ul>
                  Polly ofrece una amplia gama de herramientas y funcionalidades para satisfacer las necesidades de cualquier proyecto o aplicación.
                </p>
              </div>
              <div class="col-lg-4">
                <img src="../image/App_T2T_mini.png" class="img-fluid" alt="blurred_faces">
              </div>
              
            <div>

            <br><h4><b><u>Impacto en la Accesibilidad y la Inclusión</u></b></h4>

            <p>Uno de los aspectos más impactantes de Amazon Polly es su capacidad para mejorar la accesibilidad y la inclusión digital. Al proporcionar una voz auténtica y natural a aquellos que tienen dificultades para leer o entender texto escrito, 
              Polly está abriendo nuevas puertas para las personas con discapacidades y ampliando su acceso a la información y la tecnología.
            </p>
 
            <br><h4><b><u>El Futuro de la Voz Digital</u></b></h4>

            <p>A medida que continuamos avanzando en la era de la inteligencia artificial y la automatización, el papel de la voz en la tecnología seguirá creciendo en importancia. 
              Con innovaciones como Amazon Polly liderando el camino, el futuro de la voz digital se presenta emocionante y lleno de posibilidades.
              

            </p>
            <!-- ======= Conclusión Section ======= -->
            <section id="contact" class="contact">
            <h4><b><u></u>Pero vayamos al grano: ¿Qué es la aplicación Tex2Talk?</u></b></h4>
            <p>
              En el ejercicio de clase nos pedían que nos conectáramos a Amazon Polly e interactuáramos con la tecnología, por su capacidad para generar voces humanas.
              <ol>
                <li>Pusimos un formulario que recoge el texto del usuario</li>
                <li>Al darle a enviar le pasa el texto, del usuario, a traves de la API de Amazon</li>
                <li>Amazon Polly devuelve el audio</li>
                <li>El usuario puede reproducirlo para ver si es de su agrado, y si lo desea lo puede descargar</li>
              </ol>
            </p>
          
            <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
              <img src="../image/t2t/t2t_codigo.png" class="img-fluid" alt="blurred_faces" style="padding-left: 7px">
            </div>
            <div class="container">
              <h4 class="card-title"><br>Ejemplo que reproduce la interfaz de la Web T2T:</h4><br>
            </div>
            <li class="list-group-item">
              <h5 class="card-title">Puedes Reproducir el Audio de ejemplo:</h5>     
            </li>
            
            <li class="list-group-item">
              <!-- Botón para reproducir audio -->
              <audio controls>
                <source src="../image/t2t/Audio_prueba.mp3" type="audio/mpeg">
                Tu navegador no admite el elemento de audio.
              </audio>
            </li>        
            <p><br>
              Aunque el audio de alta calidad es notable, aún no alcanza la fluidez y naturalidad que buscamos. Sin embargo, este es solo el comienzo
               de una tecnología con un futuro prometedor, sobre todo en áreas que mejoran la vida de las personas menos afortunadas.<br>
              
               <br>Por ejemplo en el contexto de aplicaciones de accesibilidad para personas invidentes, 
               como el desarrollo de audiolibros y sistemas de guiado mejorado, podría marcar una gran diferencia en su vida diaria o acceso a la información y 
               al entretenimiento, repercutiendo muy favorablemente en la calidad de vida de las personas con discapacidad visual.

               La tecnología tiene el potencial de transformar vidas si la empleamos adecuadamente. 
               Por eso, está en nuestras manos y es nuestra responsabilidad utilizarla para el bienestar de muchas personas.
            </p>
            <p>Un saludo y hasta la próxima.</p><br>

            <nav class="blog-pagination" aria-label="Pagination">
              <a class="btn btn-outline-secondary rounded-pill" href="../templates/blurred_face.html" >Prev</a>
              <a class="btn btn-outline-secondary rounded-pill" href="../templates/juego_tronos.html">Next</a>
            </nav>
            <hr>
        </article>
      </div>

        <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">"Mi pasión por la tecnología y el aprendizaje continuo me ha llevado a formarme en programación, inteligencia artificial y big data.</p>

            <hr>
            
            <h4 class="fst-italic">Recent posts</h4>
            <ul class="list-unstyled">
              <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/juego_tronos.html">
                      <img src="../image/Jmat_NEO_4j_mini.png" alt="Imagen de ejemplo" width="96" height="96">
                      <div class="col-lg-8">
                          <h6 class="mb-0">Grafos & Juego Tronos. Seven Protagonists, Seven Gods</h6>
                          <small class="text-body-secondary">20 Abril, 2024</small>
                      </div>
                  </a>
              </li>
              <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/pizza_party.html">
                      <img src="../image/rob_e.png" alt="Imagen del artículo Text2Talk" width="96" height="96">
                      <div class="col-lg-8">
                          <h6 class="mb-0">Pizza Party. Mi primer Chat-Bot con ChatGPT</h6>
                          <small class="text-body-secondary">21 Abril, 2024 </small>
                      </div>
                  </a>
              </li>
              <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/blurred_face.html">
                      <img src="../image/app_blured_face/blurred_faces.jpg" alt="Otra imagen de ejemplo" width="96" height="96">
                      <div class="col-lg-8">
                          <h6 class="mb-0">Blured Face, reconocimiento facial</h6>
                          <small class="text-body-secondary">16 Abril, 2024</small>
                      </div>
                  </a>
              </li>
            </ul>  
            </div>
        </div>
    </div>

  </main>

 <!-- ======= Footer ======= -->
  <footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright:<strong><span>jmat Portfolio</span></strong>
    </div>
    <br>
    <div class="credits">
      Thanks to <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
      &copy; Copyright:<a><strong> iPortfolio</strong></a>
    </div>
  </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="../js/app.js"></script>
  <script src="../js/paginas.js"></script>


</body>
</html>