<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>jmatPorfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../image/funko.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../css/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="../css/style2.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../image/funko.png" alt="" class="img-fluid rounded-circle">
        <h3 class="text-light"><a href="../index.html">José Manuel Alonso Tirado</a></h3>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/jmatisam" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://jmatisam.github.io/web/" class="cloud"><i class="bx bx-cloud"></i></a>
          <a href="https://www.linkedin.com/in/josé-manuel-alonso-tirado" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="../index.html" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Introito</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Artículo</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Conclusión</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= intro Section ======= -->
    <section id="about" class="about"></section>
        <div class="blog-article">
            <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary">
              <img src="../image/virus_protec/virus_protec.png" class="img-fluid" alt="blurred_faces"> 
            </div>
        </div>


    <div class="row g-5">
      <div class="col-md-8">

        <article class="blog-post">
          
            <h2 class="display-5 link-body-emphasis mb-1">virus_protec</h2>
            <p class="blog-post-meta">21 Abril, 2024 by <a href="#">jmat</a></p>
            <p>
              En un mundo donde la presencia en línea es indispensable, la seguridad web se convierte en una prioridad absoluta. Con la proliferación de amenazas como virus, 
              malware y phishing, cada clic en internet podría representar un riesgo potencial para la seguridad de nuestros datos. Es por eso que la tarea de desarrollar una 
              aplicación web en Python que pueda analizar y prevenir posibles efectos nocivos era muy interesante. </P>
              
              <p></p>La tarea consistía en crear una aplicación web en Python (usando Flask como marco de desarrollo) permitiendo a los usuarios escanear URLs en busca de posibles
               amenazas y, con un simple clic, iniciar el escaneo.</p>

               <p>En resumen el proceso es el siguiente:</p>
               
               <ol>
                <li>Al acceder a la página inicial de la aplicación, los usuarios son recibidos con un formulario donde pueden ingresar la URL a analizar.</li>
                <li>La aplicación puede realizar un análisis exhaustivo de la URL.</li>
                <li>Debe proporcionar un resumen claro y comprensible de los resultados, para que los pudiera interpretar cualquier usuario.</li>
              </ol>
              <p>Este fue el resultado:</p> 
            
            <section id="resume" class="resume">
              
              <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
                  <img src="../image/virus_protec/app_virus_protec.png" class="img-fluid" alt="blurred_faces" style="padding-left: center">
                </div> 
                <hr>

            <p>El priimer paso no presentaba dificultas pero si lo fue tratar con la APP de Virus Total <a href="https://www.virustotal.com/gui/home/upload" target="_blank">puedes accedera ella haciendo clic aquí</a>.</p>
            <p>A continuación, continuar articulo......</p>
            <section id="resume" class="resume">
            <p>Este fue el resultado:</p>  
            <div class="p-4 p-md-3 mb-2 rounded text-body-emphasis bg-body-secondary" >
                <img src="../image/virus_protec/app_virus_protec.png" class="img-fluid" alt="blurred_faces" style="padding-left: center">
              </div> 
              <hr>
              
              <section id="contact" class="contact">
              <p>mas info aqui</p>
            <p>Y aqui</p><br>

                <nav class="blog-pagination" aria-label="Pagination">
                  <a class="btn btn-outline-secondary rounded-pill" href="../templates/pront_ing.html" >Prev</a>
                  <a class="btn btn-outline-secondary rounded-pill" href="../templates/contacto.html">Next</a>
                </nav>
                <hr>
        </articule> 
    </div>     
         <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="fst-italic">About</h4>
                <p class="mb-0">"Mi pasión por la tecnología y el aprendizaje continuo me ha llevado a formarme en programación, inteligencia artificial y big data.</p>

                <hr>
                
                <h4 class="fst-italic">Recent posts</h4>
                <ul class="list-unstyled">
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/pizza_party.html">
                        <img src="../image/rob_e.png" alt="Imagen de ejemplo" width="96" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Pizza Party, mi primer Chat Bot</h6>
                            <small class="text-body-secondary">21 Abril, 2024</small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/pront_ing.html">
                        <img src="../image/pront.jpg" alt="Imagen del artículo Text2Talk" width="96" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Pront Engineering</h6>
                            <small class="text-body-secondary">21 Abril, 2024 </small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="../templates/juego_tronos.html">
                        <img src="../image/Jmat_NEO_4j_mini.png" alt="Otra imagen de ejemplo" width="96" height="96">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Grafos & Juego Tronos. Seven Protagonists, Seven Gods</h6>
                          <small class="text-body-secondary">20 Abril, 2024</small>
                        </div>
                    </a>
                </li>
                </ul>  
                </div>
            </div>
        </div>

    </main>

<!-- ======= Footer ======= -->
<footer id="footer">
<div class="container">
<div class="copyright">
  &copy; Copyright:<strong><span>jmat Portfolio</span></strong>
</div>
<br>
<div class="credits">
  Thanks to <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
  &copy; Copyright:<a><strong> iPortfolio</strong></a>
</div>
</div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- Template Main JS File -->
<script src="../js/app.js"></script>




</body>
</html>